<div class="container">
  <canvas #mondrianCanvas id="mondrianCanvas"></canvas>

  <div class="btn-container">
    <button (click)="generateCanvas()"
      type="button"
      class="btn">Regenerate</button>
    <a (click)="generateDownloadCanvas(downloadLink)"
       #downloadLink
       [href]="canvasUrl"
       [download]="downloadUrlName"
       class="btn">Download</a>
  </div>

  <p class="description">Inspired by <a href="https://generativeartistry.com">Generative Artistry</a>.
    <a href="https://github.com/donroyco/mondrian">GitHub project</a>.</p>
</div>
